body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}

input {
    margin-right: 30px;
}

/* class name */
.container {
    margin-top: 50px;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    padding: 40px;
}

.top-10 {
    margin-top: 10px;
}

.top-20 {
    margin-top: 20px;
}

.top-100 {
    margin-top: 100px;
}
.bottom-20{
    margin-bottom: 20px;
}
.left-20{
    margin-left: 20px;
}
.mlr-5{
    margin-left: 5px;
    margin-right: 5px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

.import-color {
    background: #540e33;
}